Repository orcamobility/gstreamer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

Path conditions:
  build nodebug fedora x86_64: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build clang fedora x86_64: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2017 amd64: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2017 x86: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  check fedora: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  integration testsuites fedora: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full static build: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full-minimal static build: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  valgrind core: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*
  valgrind base: any of: *, scripts/*, ci//**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*
  valgrind good: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*
  valgrind ugly: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*
  valgrind bad: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*
  valgrind ges: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-editing-services/**/*
  build documentation: any of: .gitlab-ci.yml, ci/gitlab/freedesktop_doc_importer.sh, subprojects/*.wrap, subprojects/gst-docs/**/*, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  cerbero trigger: any of: .gitlab-ci.yml, ci/gitlab/trigger_cerbero_pipeline.py, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gst-rtsp-server/**/*, subprojects/gst-examples/**/*

cuda: Use cuStreamDestroy_v2 API
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/stub/cuda.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

cuda: Use cuStreamDestroy_v2 API (#10)
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/stub/cuda.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

add https://gitlab.freedesktop.org/gstreamer/gstreamer/-/merge_requests/5505
  meson.build
  meson_options.txt
  subprojects/gst-plugins-bad/ext/dtls/meson.build
  subprojects/gst-plugins-bad/ext/sctp/meson.build
  subprojects/gst-plugins-bad/ext/srtp/meson.build
  subprojects/gst-plugins-bad/meson.build
  subprojects/gst-plugins-bad/meson_options.txt
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

update
  meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges

update
  subprojects/gst-plugins-rs.wrap
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

use centricular's hacky protocol preference
  subprojects/gst-plugins-good/gst/rtsp/gstrtspsrc.c
  subprojects/gst-rtsp-server/examples/test-appsrc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

use centricular's temp protocol preference change (#11)
  subprojects/gst-plugins-good/gst/rtsp/gstrtspsrc.c
  subprojects/gst-rtsp-server/examples/test-appsrc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

cudaipcsink: Fix deadlock on stop
  subprojects/gst-plugins-bad/sys/nvcodec/gstcudaipcserver.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstcudaipcserver.h
  subprojects/gst-plugins-bad/sys/nvcodec/gstcudaipcserver_unix.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstcudaipcserver_win32.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

cudaipcsink: Fix deadlock on stop (#12)
  subprojects/gst-plugins-bad/sys/nvcodec/gstcudaipcserver.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstcudaipcserver.h
  subprojects/gst-plugins-bad/sys/nvcodec/gstcudaipcserver_unix.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstcudaipcserver_win32.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

cuda: Report device open error
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/stub/cuda.h
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvbaseenc.c
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvencobject.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/plugin.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

update x264 version
  subprojects/gst-plugins-ugly/ext/x264/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind ugly, build documentation, cerbero trigger

update
  subprojects/gst-plugins-ugly/ext/x264/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind ugly, build documentation, cerbero trigger

manually apply the patch change
  subprojects/gst-plugins-ugly/ext/x264/gstx264enc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind ugly, build documentation, cerbero trigger

Revert "x264: Check that minimum version is met"
  subprojects/gst-plugins-ugly/ext/x264/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind ugly, build documentation, cerbero trigger

nvh265dec: Don't convert unknown video format to string
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh265dec.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

h265decoder: Fix DPB size calculation
  subprojects/gst-plugins-bad/gst-libs/gst/codecs/gsth265decoder.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Apply MR 6240
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudamemory.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11bufferpool.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11memory.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12memory.cpp
  subprojects/gst-plugins-bad/tests/check/libs/cudamemory.c
  subprojects/gst-plugins-bad/tests/check/libs/d3d11memory.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Apply MR 6240 (#15)
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudamemory.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11bufferpool.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11memory.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12memory.cpp
  subprojects/gst-plugins-bad/tests/check/libs/cudamemory.c
  subprojects/gst-plugins-bad/tests/check/libs/d3d11memory.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Apply MR 6326
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudabufferpool.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11bufferpool.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12bufferpool.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Apply MR 6326 (#16)
  subprojects/gst-plugins-bad/gst-libs/gst/cuda/gstcudabufferpool.cpp
  subprojects/gst-plugins-bad/gst-libs/gst/d3d11/gstd3d11bufferpool.cpp
  subprojects/gst-plugins-bad/sys/d3d12/gstd3d12bufferpool.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Add readme
  README.md
Due: valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges

Revert "h264parse: correct NAL mode backlog processing"
  subprojects/gst-plugins-bad/gst/videoparsers/gsth264parse.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Revert "h264parse: Remove un-needed check on SPS state"
  subprojects/gst-plugins-bad/gst/videoparsers/gsth264parse.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Revert "h264parse: Fix AU collection"
  subprojects/gst-plugins-bad/gst/videoparsers/gsth264parse.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Revert "h264parse: use AUD to detect first VCL NAL"
  subprojects/gst-plugins-bad/gst/videoparsers/gsth264parse.c
  subprojects/gst-plugins-bad/gst/videoparsers/gsth264parse.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Revert "h264parse: Remove dead code"
  subprojects/gst-plugins-bad/gst/videoparsers/gsth264parse.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger
