Repository orcamobility/gstreamer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

Path conditions:
  build nodebug fedora x86_64: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build clang fedora x86_64: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2017 amd64: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2017 x86: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  check fedora: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  integration testsuites fedora: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full static build: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full-minimal static build: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  valgrind core: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*
  valgrind base: any of: *, scripts/*, ci//**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*
  valgrind good: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*
  valgrind ugly: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*
  valgrind bad: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*
  valgrind ges: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-editing-services/**/*
  build documentation: any of: .gitlab-ci.yml, ci/gitlab/freedesktop_doc_importer.sh, subprojects/*.wrap, subprojects/gst-docs/**/*, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  cerbero trigger: any of: .gitlab-ci.yml, ci/gitlab/trigger_cerbero_pipeline.py, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gst-rtsp-server/**/*, subprojects/gst-examples/**/*

androidmedia: Don't try getting values from NULL ranges
  subprojects/gst-plugins-bad/sys/androidmedia/jni/gstamc-codeclist-jni.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

glupload: Add support for importing AHardwareBuffer on Android
  subprojects/gst-plugins-base/gst-libs/gst/gl/egl/gsteglimage.c
  subprojects/gst-plugins-base/gst-libs/gst/gl/egl/gsteglimage.h
  subprojects/gst-plugins-base/gst-libs/gst/gl/gstglupload.c
  subprojects/gst-plugins-base/gst-libs/gst/gl/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

androidmedia: Add AImageReader output plumbing to MediaCodec wrapper
  subprojects/gst-plugins-bad/sys/androidmedia/gstamc-codec.c
  subprojects/gst-plugins-bad/sys/androidmedia/gstamc-codec.h
  subprojects/gst-plugins-bad/sys/androidmedia/jni/gstamc-codec-jni.c
  subprojects/gst-plugins-bad/sys/androidmedia/ndk/gstamc-codec-ndk.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

androidmedia: De-duplicate I420/NV12 raw video formats in pad template caps
  subprojects/gst-plugins-bad/sys/androidmedia/gstamc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

androidmedia: Don't clamp width/height/framerate ranges against the defaults
  subprojects/gst-plugins-bad/sys/androidmedia/jni/gstamc-codeclist-jni.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

video: Introduce AHARDWARE_BUFFER for AHardwareBuffer-backed raw video
  girs/GstVideo-1.0.gir
  subprojects/gst-plugins-base/docs/plugins/gst_plugins_cache.json
  subprojects/gst-plugins-base/gst-libs/gst/video/video-converter.c
  subprojects/gst-plugins-base/gst-libs/gst/video/video-format.c
  subprojects/gst-plugins-base/gst-libs/gst/video/video-format.h
  subprojects/gst-plugins-base/gst-libs/gst/video/video-info.c
  subprojects/gst-plugins-good/docs/gst_plugins_cache.json
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

androidmedia: Try harder to generate video codec constraints
  subprojects/gst-plugins-bad/sys/androidmedia/gstamc-codeclist.h
  subprojects/gst-plugins-bad/sys/androidmedia/gstamc.c
  subprojects/gst-plugins-bad/sys/androidmedia/gstamc.h
  subprojects/gst-plugins-bad/sys/androidmedia/jni/gstamc-codeclist-jni.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

amcviddec: Add memory:AHardwareBuffer output mode
  subprojects/gst-plugins-bad/sys/androidmedia/gstamcvideodec.c
  subprojects/gst-plugins-bad/sys/androidmedia/gstamcvideodec.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

androidmedia: Remove no-op buffer_set_position_and_limit calls
  subprojects/gst-plugins-bad/sys/androidmedia/gstamc-codec.c
  subprojects/gst-plugins-bad/sys/androidmedia/gstamc-codec.h
  subprojects/gst-plugins-bad/sys/androidmedia/gstamcaudiodec.c
  subprojects/gst-plugins-bad/sys/androidmedia/gstamcvideodec.c
  subprojects/gst-plugins-bad/sys/androidmedia/gstamcvideoenc.c
  subprojects/gst-plugins-bad/sys/androidmedia/jni/gstamc-codec-jni.c
  subprojects/gst-plugins-bad/sys/androidmedia/jni/gstamc-format-jni.c
  subprojects/gst-plugins-bad/sys/androidmedia/ndk/gstamc-codec-ndk.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

amc: Remove JNI codec and format implementations
  subprojects/gst-plugins-bad/sys/androidmedia/jni/gstamc-codec-jni.c
  subprojects/gst-plugins-bad/sys/androidmedia/jni/gstamc-format-jni.c
  subprojects/gst-plugins-bad/sys/androidmedia/jni/gstamc-jni.c
  subprojects/gst-plugins-bad/sys/androidmedia/jni/gstamc-jni.h
  subprojects/gst-plugins-bad/sys/androidmedia/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

rtph264depay: Fix condition for last NALU in STAP-A processing code
  subprojects/gst-plugins-good/gst/rtp/gstrtph264depay.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

h265parser: Handle oversized SEI payloads
  subprojects/gst-plugins-bad/gst-libs/gst/codecparsers/gsth265parser.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

baseparse: Don't dereference frame->buffer after a zero-sized finish_frame()
  subprojects/gstreamer/libs/gst/base/gstbaseparse.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

h264parse: Don't finish a zero-sized frame when no start code follows
  subprojects/gst-plugins-bad/gst/videoparsers/gsth264parse.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvenc: add P1-P7 presets to nvh264enc/nvh265enc for NVENC API 10+ drivers
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvbaseenc.c
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvbaseenc.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvenc: add P1-P7 presets to nvh264enc/nvh265enc for NVENC API 10+ drivers (#38)
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvbaseenc.c
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvbaseenc.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

h26*parse: Reject malformed NALs with forbidden_zero_bit set
  subprojects/gst-plugins-bad/gst/videoparsers/gsth264parse.c
  subprojects/gst-plugins-bad/gst/videoparsers/gsth265parse.c
  subprojects/gst-plugins-bad/tests/check/elements/h264parse.c
  subprojects/gst-plugins-bad/tests/check/elements/h265parse.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger
