Repository orcamobility/gstreamer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

build nodebug fedora x86_64:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: DEFAULT_BRANCH=$GST_UPSTREAM_BRANCH bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
    CCACHE_COMPRESS: 'true'
  ...

build clang fedora x86_64:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: DEFAULT_BRANCH=$GST_UPSTREAM_BRANCH bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
    CCACHE_COMPRESS: 'true'
  ...

build vs2017 amd64:
  image: $WINDOWS_IMAGE
  stage: build
  tags:
  - docker
  - windows
  - '1809'
  needs:
  - windows amd64 docker
  timeout: 45min
  variables:
    MESON_ARGS: '${DEFAULT_MESON_ARGS} -Dpython=disabled -Dlibav=disabled -Dvaapi=disabled -Dgst-plugins-base:pango=enabled -Dgst-plugins-good:cairo=enabled
  
      '
  ...

build vs2017 x86:
  image: $WINDOWS_IMAGE
  stage: build
  tags:
  - docker
  - windows
  - '1809'
  needs:
  - windows amd64 docker
  timeout: 45min
  variables:
    MESON_ARGS: '${DEFAULT_MESON_ARGS} -Dpython=disabled -Dlibav=disabled -Dvaapi=disabled -Dgst-plugins-base:pango=enabled -Dgst-plugins-good:cairo=enabled
  
      '
    ARCH: x86
  ...

check fedora:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: DEFAULT_BRANCH=$GST_UPSTREAM_BRANCH bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
    CCACHE_COMPRESS: 'true'
  ...

integration testsuites fedora:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: DEFAULT_BRANCH=$GST_UPSTREAM_BRANCH bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
    CCACHE_COMPRESS: 'true'
  ...

gstreamer-full static build:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: DEFAULT_BRANCH=$GST_UPSTREAM_BRANCH bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
    CCACHE_COMPRESS: 'true'
  ...

gstreamer-full-minimal static build:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: DEFAULT_BRANCH=$GST_UPSTREAM_BRANCH bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
    CCACHE_COMPRESS: 'true'
  ...

build documentation:
  variables:
    CCACHE_COMPILERCHECK: content
    CCACHE_COMPRESS: 'true'
    CCACHE_BASEDIR: /cache/gstreamer/gstreamer
    CCACHE_DIR: /cache/gstreamer/gstreamer/ccache/
    CCACHE_MAXSIZE: 10G
    CARGO_HOME: /cache/gstreamer/cargo
  ...

Revert "h264parse: test - AU align with SEI between frame slices"
  subprojects/gst-plugins-bad/tests/check/elements/h264parse.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Revert "h264parse: Improved AU boundary detection"
  subprojects/gst-plugins-bad/gst-libs/gst/codecparsers/gsth264parser.h
  subprojects/gst-plugins-bad/gst/videoparsers/gsth264parse.c
  subprojects/gst-plugins-bad/gst/videoparsers/gsth264parse.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Revert h264parse au enhance (#17)
  subprojects/gst-plugins-bad/gst-libs/gst/codecparsers/gsth264parser.h
  subprojects/gst-plugins-bad/gst/videoparsers/gsth264parse.c
  subprojects/gst-plugins-bad/gst/videoparsers/gsth264parse.h
  subprojects/gst-plugins-bad/tests/check/elements/h264parse.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Use main branch from rs plugins
  subprojects/gst-plugins-rs.wrap
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

Add gst-nvunixfd support
  jetson/gst-nvunixfd_src/gst-nvunixfd/LICENSE
  jetson/gst-nvunixfd_src/gst-nvunixfd/Makefile
  jetson/gst-nvunixfd_src/gst-nvunixfd/gstnvipcbufferpool.c
  jetson/gst-nvunixfd_src/gst-nvunixfd/gstnvipcbufferpool.h
  jetson/gst-nvunixfd_src/gst-nvunixfd/gstunixfd.c
  jetson/gst-nvunixfd_src/gst-nvunixfd/gstunixfd.h
  jetson/gst-nvunixfd_src/gst-nvunixfd/gstunixfdsink.c
  jetson/gst-nvunixfd_src/gst-nvunixfd/gstunixfdsrc.c
  jetson/gst-nvunixfd_src/meson.build
  jetson/gst-nvunixfd_src/nvbufsurface.h
  jetson/gst-nvunixfd_src/nvbufsurftransform.h
  meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges

Add modified nvunixfd plugin
  subprojects/gst-plugins-bad/gst/meson.build
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/LICENSE
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/gstnvipcbufferpool.c
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/gstnvipcbufferpool.h
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/gstunixfd.c
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/gstunixfd.h
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/gstunixfdsink.c
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/gstunixfdsrc.c
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/meson.build
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/nvbufsurface.h
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/nvbufsurftransform.h
  subprojects/gst-plugins-bad/meson_options.txt
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvcustomunixfd: Add missing install args
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Add custom unixfd (#19)
  subprojects/gst-plugins-bad/gst/meson.build
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/LICENSE
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/gstnvipcbufferpool.c
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/gstnvipcbufferpool.h
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/gstunixfd.c
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/gstunixfd.h
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/gstunixfdsink.c
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/gstunixfdsrc.c
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/meson.build
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/nvbufsurface.h
  subprojects/gst-plugins-bad/gst/nvcustomunixfd/nvbufsurftransform.h
  subprojects/gst-plugins-bad/meson_options.txt
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Optional Build for nvcustomunixfd
  subprojects/gst-plugins-bad/gst/meson.build
  subprojects/gst-plugins-bad/meson_options.txt
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

use centricular's hacky protocol preference
  subprojects/gst-plugins-good/gst/rtsp/gstrtspsrc.c
  subprojects/gst-rtsp-server/examples/test-appsrc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

manually apply the patch change
  subprojects/gst-plugins-ugly/ext/x264/gstx264enc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind ugly, build documentation, cerbero trigger

Revert "x264: Check that minimum version is met"
  subprojects/gst-plugins-ugly/ext/x264/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind ugly, build documentation, cerbero trigger

Update plugins-rs
  subprojects/gst-plugins-rs.wrap
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

nvh264dec: Fix crash on corrupt H264 SPS with invalid crop offsets
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh264dec.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvh265dec: Fix crash on corrupt H265 SPS with invalid crop offsets
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvdecoder.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh265dec.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvh264dec, nvh265dec: Return GST_FLOW_OK on invalid SPS to keep pipeline alive
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh264dec.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh265dec.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvdecoder: Remove debug logging guard for unknown format
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvdecoder.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvh264dec: Fix crash on corrupt H264 SPS with invalid crop offsets (#23)
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh264dec.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh265dec.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvh264dec, nvh265dec: Return GST_FLOW_ERROR on invalid SPS to prevent deadlock
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh264dec.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh265dec.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvh264dec, nvh265dec: Fix deadlock on corrupt SPS by returning GST_FLOW_ERROR (#25)
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh264dec.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh265dec.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

feat(fmp4): update gst-plugins-rs to include header-update-mode=caps
  subprojects/gst-plugins-rs.wrap
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

fix(fmp4): bump gst-plugins-rs to include late-GOP panic fix
  subprojects/gst-plugins-rs.wrap
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

rtspsrc: client-managed MIKEY KeyMgmt
  subprojects/gst-plugins-base/gst-libs/gst/sdp/gstmikey.c
  subprojects/gst-plugins-good/docs/gst_plugins_cache.json
  subprojects/gst-plugins-good/gst/rtsp/gstrtspsrc.c
  subprojects/gst-plugins-good/gst/rtsp/gstrtspsrc.h
  subprojects/gst-plugins-good/tests/examples/rtsp/meson.build
  subprojects/gst-plugins-good/tests/examples/rtsp/test-client-managed-mikey.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

fix(fmp4): bump gst-plugins-rs to include late-GOP panic fix (#27)
  subprojects/gst-plugins-rs.wrap
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

feat(fmp4): update gst-plugins-rs to include header-update-mode=caps (#26)
  subprojects/gst-plugins-rs.wrap
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

nvenc: log real NVENCSTATUS when NvEncOpenEncodeSessionEx fails
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvbaseenc.c
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvenc.h
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvencobject.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvencobject.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvenc: log real NVENCSTATUS when NvEncOpenEncodeSessionEx fails (#28)
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvbaseenc.c
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvenc.h
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvencobject.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvencobject.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvencoder: Fix maximum QP value setting
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh264encoder.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh265encoder.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

nvencoder: Fix maximum QP value setting (backport to 1.23.1) (#29)
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh264encoder.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstnvh265encoder.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

fix(fmp4): patch fmp4mux late-GOP deadlock in chunk mode
  subprojects/gst-plugins-rs.wrap
  subprojects/packagefiles/gst-plugins-rs/0001-fmp4mux-fix-deadlock-when-all-streams-have-late-GOPs.patch
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

fix(fmp4): bound the first-stream NEED_DATA wait in fmp4mux
  subprojects/gst-plugins-rs.wrap
  subprojects/packagefiles/gst-plugins-rs/0001-fmp4mux-bound-the-first-stream-NEED_DATA-wait.patch
  subprojects/packagefiles/gst-plugins-rs/0001-fmp4mux-fix-deadlock-when-all-streams-have-late-GOPs.patch
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

fix(fmp4): do not skip the first stream on a late GOP
  subprojects/gst-plugins-rs.wrap
  subprojects/packagefiles/gst-plugins-rs/0001-fmp4mux-bound-the-first-stream-NEED_DATA-wait.patch
  subprojects/packagefiles/gst-plugins-rs/0001-fmp4mux-do-not-skip-the-first-stream-on-a-late-GOP.patch
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

fix(fmp4): don't skip the first stream on a late GOP
  subprojects/packagefiles/gst-plugins-rs/0001-fmp4mux-do-not-skip-the-first-stream-on-a-late-GOP.patch
Due: none

test(fmp4): add regression test for first-stream late GOP
  subprojects/packagefiles/gst-plugins-rs/0001-fmp4mux-do-not-skip-the-first-stream-on-a-late-GOP.patch
Due: none

revert(fmp4): drop gst-plugins-rs bump so this branch is Blackwell-only
  subprojects/gst-plugins-rs.wrap
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

feat(fmp4): bump gst-plugins-rs to 0.15.3 (isofmp4mux chunk-mode drain fixes)
  subprojects/gst-plugins-rs.wrap
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

revert(fmp4): drop gst-plugins-rs bump so this branch is Blackwell changes only for the time being (#31)
  subprojects/gst-plugins-rs.wrap
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

fix(fmp4): backport upstream isofmp4mux chunk-mode drain fixes
  subprojects/gst-plugins-rs.wrap
  subprojects/packagefiles/gst-plugins-rs/0001-fmp4mux-backport-chunk-mode-drain-fixes.patch
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

Path conditions:
  build nodebug fedora x86_64: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build clang fedora x86_64: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2017 amd64: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2017 x86: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  check fedora: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  integration testsuites fedora: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full static build: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full-minimal static build: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  valgrind core: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*
  valgrind base: any of: *, scripts/*, ci//**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*
  valgrind good: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*
  valgrind ugly: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*
  valgrind bad: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*
  valgrind ges: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-editing-services/**/*
  build documentation: any of: .gitlab-ci.yml, ci/gitlab/freedesktop_doc_importer.sh, subprojects/*.wrap, subprojects/gst-docs/**/*, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  cerbero trigger: any of: .gitlab-ci.yml, ci/gitlab/trigger_cerbero_pipeline.py, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gst-rtsp-server/**/*, subprojects/gst-examples/**/*
