Repository orcamobility/gstreamer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

build nodebug fedora x86_64:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: DEFAULT_BRANCH=$GST_UPSTREAM_BRANCH bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
    CCACHE_COMPRESS: 'true'
  ...

build clang fedora x86_64:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: DEFAULT_BRANCH=$GST_UPSTREAM_BRANCH bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
    CCACHE_COMPRESS: 'true'
  ...

build vs2017 amd64:
  image: $WINDOWS_IMAGE
  stage: build
  tags:
  - docker
  - windows
  - '1809'
  needs:
  - windows amd64 docker
  timeout: 45min
  variables:
    MESON_ARGS: '${DEFAULT_MESON_ARGS} -Dpython=disabled -Dlibav=disabled -Dvaapi=disabled -Dgst-plugins-base:pango=enabled -Dgst-plugins-good:cairo=enabled
  
      '
  ...

build vs2017 x86:
  image: $WINDOWS_IMAGE
  stage: build
  tags:
  - docker
  - windows
  - '1809'
  needs:
  - windows amd64 docker
  timeout: 45min
  variables:
    MESON_ARGS: '${DEFAULT_MESON_ARGS} -Dpython=disabled -Dlibav=disabled -Dvaapi=disabled -Dgst-plugins-base:pango=enabled -Dgst-plugins-good:cairo=enabled
  
      '
    ARCH: x86
  ...

check fedora:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: DEFAULT_BRANCH=$GST_UPSTREAM_BRANCH bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
    CCACHE_COMPRESS: 'true'
  ...

integration testsuites fedora:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: DEFAULT_BRANCH=$GST_UPSTREAM_BRANCH bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
    CCACHE_COMPRESS: 'true'
  ...

gstreamer-full static build:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: DEFAULT_BRANCH=$GST_UPSTREAM_BRANCH bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
    CCACHE_COMPRESS: 'true'
  ...

gstreamer-full-minimal static build:
  variables:
    FDO_DISTRIBUTION_VERSION: '31'
    FDO_REPO_SUFFIX: $FEDORA_AMD64_SUFFIX
    FDO_DISTRIBUTION_TAG: $FEDORA_TAG-$GST_UPSTREAM_BRANCH
    FDO_DISTRIBUTION_EXEC: DEFAULT_BRANCH=$GST_UPSTREAM_BRANCH bash ci/docker/fedora/prepare.sh
    CCACHE_COMPILERCHECK: content
    CCACHE_COMPRESS: 'true'
  ...

build documentation:
  variables:
    CCACHE_COMPILERCHECK: content
    CCACHE_COMPRESS: 'true'
    CCACHE_BASEDIR: /cache/gstreamer/gstreamer
    CCACHE_DIR: /cache/gstreamer/gstreamer/ccache/
    CCACHE_MAXSIZE: 10G
    CARGO_HOME: /cache/gstreamer/cargo
  ...

rtspsrc: expose property for forcing usage of non-compliant URLs
  subprojects/gst-plugins-good/docs/gst_plugins_cache.json
  subprojects/gst-plugins-good/gst/rtsp/gstrtspsrc.c
  subprojects/gst-plugins-good/gst/rtsp/gstrtspsrc.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

cudaipcclient: retain imported handles for the lifetime of the connection
  subprojects/gst-plugins-bad/sys/nvcodec/gstcudaipcclient.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

cudaipcsrc: Add retain-handles property to reuse imported IPC handles (#35)
  subprojects/gst-plugins-bad/docs/plugins/gst_plugins_cache.json
  subprojects/gst-plugins-bad/sys/nvcodec/gstcudaipcclient.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstcudaipcclient.h
  subprojects/gst-plugins-bad/sys/nvcodec/gstcudaipcclient_unix.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstcudaipcclient_unix.h
  subprojects/gst-plugins-bad/sys/nvcodec/gstcudaipcclient_win32.cpp
  subprojects/gst-plugins-bad/sys/nvcodec/gstcudaipcclient_win32.h
  subprojects/gst-plugins-bad/sys/nvcodec/gstcudaipcsrc.cpp
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

rtspsrc: backport force-non-compliant-url property (upstream 1.24.7) (#34)
  subprojects/gst-plugins-good/docs/gst_plugins_cache.json
  subprojects/gst-plugins-good/gst/rtsp/gstrtspsrc.c
  subprojects/gst-plugins-good/gst/rtsp/gstrtspsrc.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

gstinfo: Use a more optimized version of GST_TIME_ARGS
  subprojects/gstreamer/gst/gstinfo.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind core, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

meson: Fix monorepo build on macOS
  subprojects/.wraplock
  subprojects/proxy-libintl.wrap
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, build documentation

h264decoder: ignore NAL units with forbidden_zero_bit set
  subprojects/gst-plugins-bad/gst-libs/gst/codecs/gsth264decoder.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

vabasetransform: initialise the allocation params
  subprojects/gst-plugins-bad/sys/va/gstvabasetransform.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

vabasetransform: keep the metadata when the output is copied
  subprojects/gst-plugins-bad/sys/va/gstvabasetransform.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

unixfdsink: copy memory that is not FD backed into shared memory
  subprojects/gst-plugins-bad/gst/unixfd/gstunixfdsink.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

va: import a DMABuf with the plane layout of its video meta
  subprojects/gst-plugins-bad/sys/va/gstvabase.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

unixfdsink: serialize the plane layout of a video meta it cannot serialize
  subprojects/gst-plugins-bad/gst/unixfd/gstunixfdsink.c
  subprojects/gst-plugins-bad/gst/unixfd/meson.build
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

mse: Fix setting of the append window
  subprojects/gst-plugins-bad/gst-libs/gst/mse/gstsourcebuffer.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

vtdec: Fix AV1 sequence header leak in the error case
  subprojects/gst-plugins-bad/sys/applemedia/vtdec.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

vkswapper: Recreate swapchain on VK_SUBOPTIMAL_KHR
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkswapper.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

mse: Black-hole all unwanted downstream data
  subprojects/gst-plugins-bad/gst-libs/gst/mse/gstappendpipeline.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

mse: Fix a bunch of leaks in pad_task
  subprojects/gst-plugins-bad/gst-libs/gst/mse/gstmsesrc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

vulkan/ios: Remove internal_view from the superview when closing
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/ios/gstvkwindow_ios.m
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

eagl: Remove internal_view from the superview when finalizing
  subprojects/gst-plugins-base/gst-libs/gst/gl/eagl/gstglwindow_eagl.m
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

mse: Fix various leaks due to incorrect refs and forgotten cleanups
  subprojects/gst-plugins-bad/gst-libs/gst/mse/gstmediasourcetrack.c
  subprojects/gst-plugins-bad/gst-libs/gst/mse/gstmsesrc.c
  subprojects/gst-plugins-bad/gst-libs/gst/mse/gstsourcebuffer.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

HACK: mse: Rewrite buffer timestamps coming out of parsebin to start from 0
  subprojects/gst-plugins-bad/gst-libs/gst/mse/gstappendpipeline.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

vulkan: Defer old swapchain destruction using the trash list
  subprojects/gst-plugins-bad/gst-libs/gst/vulkan/gstvkswapper.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

applemedia: Remove iosassetsrc
  subprojects/gst-plugins-bad/sys/applemedia/iosassetsrc.h
  subprojects/gst-plugins-bad/sys/applemedia/iosassetsrc.m
  subprojects/gst-plugins-bad/sys/applemedia/meson.build
  subprojects/gst-plugins-bad/sys/applemedia/plugin.m
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

mse: Don't unref track feed tasks from the task thread
  subprojects/gst-plugins-bad/gst-libs/gst/mse/gstsourcebuffer.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

amcvideodec: Fix typo in function name
  subprojects/gst-plugins-bad/sys/androidmedia/gstamcvideodec.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

allocators: Add AHardwareBuffer format caps string helpers
  girs/GstAllocators-1.0.gir
  subprojects/gst-plugins-base/gst-libs/gst/allocators/gstahardwarebuffer.c
  subprojects/gst-plugins-base/gst-libs/gst/allocators/gstahardwarebuffer.h
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind base, valgrind good, valgrind ugly, valgrind bad, valgrind ges, build documentation, cerbero trigger

androidmedia: Clear GErrors on errors before retrying
  subprojects/gst-plugins-bad/sys/androidmedia/gstamc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

androidmedia: Refactor profile/level/tier and video format handling for caps generation
  subprojects/gst-plugins-bad/sys/androidmedia/gstamc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

amcviddec: Expose AHARDWARE_BUFFER/ahb-format instead of RGBA for AHB output
  subprojects/gst-plugins-bad/sys/androidmedia/gstamc-codec.c
  subprojects/gst-plugins-bad/sys/androidmedia/gstamc-codec.h
  subprojects/gst-plugins-bad/sys/androidmedia/gstamcvideodec.c
  subprojects/gst-plugins-bad/sys/androidmedia/gstamcvideodec.h
  subprojects/gst-plugins-bad/sys/androidmedia/jni/gstamc-codec-jni.c
  subprojects/gst-plugins-bad/sys/androidmedia/ndk/gstamc-codec-ndk.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

androidmedia: Only probe very few resolutions
  subprojects/gst-plugins-bad/sys/androidmedia/gstamc.c
Due: build nodebug fedora x86_64, build clang fedora x86_64, build vs2017 amd64, build vs2017 x86, check fedora, integration testsuites fedora, gstreamer-full static build, gstreamer-full-minimal static build, valgrind bad, valgrind ges, build documentation, cerbero trigger

Path conditions:
  build nodebug fedora x86_64: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build clang fedora x86_64: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2017 amd64: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  build vs2017 x86: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  check fedora: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  integration testsuites fedora: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full static build: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  gstreamer-full-minimal static build: any of: .gitlab-ci.yml, meson.build, subprojects/*.wrap, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-integration-testsuites/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-sharp/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  valgrind core: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*
  valgrind base: any of: *, scripts/*, ci//**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*
  valgrind good: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*
  valgrind ugly: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*
  valgrind bad: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*
  valgrind ges: any of: *, scripts/*, ci/**/*, subprojects/gst-devtools/**/*, subprojects/gstreamer/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-editing-services/**/*
  build documentation: any of: .gitlab-ci.yml, ci/gitlab/freedesktop_doc_importer.sh, subprojects/*.wrap, subprojects/gst-docs/**/*, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-omx/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gstreamer/**/*, subprojects/gstreamer-vaapi/**/*, subprojects/gst-rtsp-server/**/*
  cerbero trigger: any of: .gitlab-ci.yml, ci/gitlab/trigger_cerbero_pipeline.py, subprojects/gst-devtools/**/*, subprojects/gst-editing-services/**/*, subprojects/gst-libav/**/*, subprojects/gst-plugins-bad/**/*, subprojects/gst-plugins-base/**/*, subprojects/gst-plugins-good/**/*, subprojects/gst-plugins-ugly/**/*, subprojects/gst-python/**/*, subprojects/gstreamer/**/*, subprojects/gst-rtsp-server/**/*, subprojects/gst-examples/**/*
